<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/img/favicon/favicon.ico' | relative_url }}" />
    {% seo %}
    <!-- favicons -->
    <link rel="icon" type="image/png" sizes="16x16"  href="{{ '/assets/img/favicon/vinyl-disc-16-181863.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="24x24"  href="{{ '/assets/img/favicon/vinyl-disc-24-181863.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32"  href="{{ '/assets/img/favicon/vinyl-disc-32-181863.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="48x48"  href="{{ '/assets/img/favicon/vinyl-disc-48-181863.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="64x64"  href="{{ '/assets/img/favicon/vinyl-disc-64-181863.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="120x120"  href="{{ '/assets/img/favicon/vinyl-disc-120-181863.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="152x152"  href="{{ '/assets/img/favicon/vinyl-disc-152-181863.png' | relative_url }}">
</head>